<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <h1>Home Page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque optio,
    eaque deserunt nulla hic velit. Ipsa, architecto reiciendis sequi,
    voluptatibus explicabo nam atque doloremque, totam unde inventore quis
    labore accusamus!
  </p>
  <h2>Image To Show The Different Between Function & Method</h2>
  <img src="Function&method.png" alt="Image" />
  <body></body>
</html>
